body {
    background: hsl(0 0% 8.5%);
    font-family: 'inter', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    margin-top: 10%;
}

@media screen and (max-width: 1024px) {
    body {
      margin-left: 8%;
      margin-right: 8%;
      margin-bottom: 10%;
      margin-top: 8%;
    }
  }
  
  @media screen and (max-width: 767px) {
    body {
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 10%;
      margin-top: 5%;
    }
  }

h1 {
    font-size: 2.4rem;
  }

h2 {
    color: hsl(0 0% 93.0%);
    font-family: 'inter', sans-serif;
    font-size: 1.75rem;
}

h3 {
    color:hsl(0 0% 93.0%);
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1.3rem; 
}

.title {
    color: hsl(0 0% 93.0%);
    font-weight: 500;
    font-family: 'inter', sans-serif;
}

label {
    color: #232526;
    font-family: 'inter', sans-serif;
    font-size: 1.25rem;
}

input {
    color: rgb(88, 88, 88);
    font-family: 'inter', sans-serif;
    font-size: 1rem;
}

textarea {
    color: rgb(88, 88, 88);
    font-family: 'inter', sans-serif;
    font-size: 1rem;
}

li { 
    color: #ededed;
    font-family: 'inter', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.projects {
    color: #ededed;
    font-size: 1rem;
    line-height: 1.5rem;
}

p {
    color: #a0a0a0;
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

p.img__description {
    color: #ededed;
    font-size: 0.8rem;
    font-family: 'inter', sans-serif;
}

i {
    color: #a0a0a0;
    font-family: 'inter', sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
}

/* Navigation Rules*/
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0px 0px;
}

.left-nav {
    display: inline-block;
    font-size: 2rem;
}


.right-nav .current{
    text-decoration: overline;
    color: #ededed;
 }

.logo {
    display: inline-block;
    font-size: 150%;
    animation: swing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.links {
    display: inline-block;
    padding: 8px;
    justify-content: space-between;
}


a:link, a:visited {
    text-decoration: none;
    color: #ededed;
  }
  

a:hover, a:active {
    text-decoration: none;
  }
  

button { 
    border-radius: 4px;
    min-width: 60px;
    padding: 8px;
    background-color:snow;
    border: 3px solid snow;
    margin: 10px 0px;

    font-family: 'inter', sans-serif;

    -webkit-transition: all 500ms ease-in 200ms;
    -moz-transition: all 500ms ease-in 200ms;
}

button:hover {
   /* text-decoration: underline; *?
    /*background: rgb(244, 218, 255);*/
    border: 3px solid snow;

    transform: rotate(7deg);
}

a:visited {
    color: #e0e0e0
}

.caption {
    font-size: 60%;
    font-style: italic;
    color: rgb(214, 214, 214);
    font-family: 'inter', sans-serif; 
}

.blog-layout {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    gap: 1.2rem;
    width: 100%;
    margin-top: 40px;
}

.blog-layout-item {
    padding: 24px 32px 12px 32px;

    background-color:rgb(32, 32, 32);
    border-radius: 12px;
}

.blog-layout-item:hover {
    background-color:rgb(44, 44, 44);
}


.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));*/
    /*grid-template-rows: repeat(8, 6vw);*/
    grid-gap: 20px;

    align-items: center;
    grid-auto-flow: row;
    
    margin-top: 40px;
}


.gallery__img {
    width: 100%;
    /*height: 100%;*/
    height: 50vh;
    min-height: 275px;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

@media (min-width: 1280px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 688px) and (max-width: 1280px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 688px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}


#footer-list li {
    display: inline-block;

    color: #ededed;
    font-size: 1rem;

    padding: 10px 20px;
    margin: 0px 30px;
}

#email {
    color: seashell;
    text-decoration: none;
}

#pulse {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    animation-iteration-count: infinite;
  }

  /* this is css for contact page form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 28px 32px;
    margin-top: 30px;
  }

  input [type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  }

  #fname, #lname {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  input[type=submit] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #33c08c;
  }

  hr.footer_break {
    border-top: 0.2px solid #ededed;
    width: 40vw;
    margin: 20px 0px;
  }